/*
type your custom css here
在本文件键入您的自定义CSS
升级主题文件时请注意保护本文件，防止意外覆盖。
*/
#newsindex h1 {
    margin: 0.1em 0 .0em;}
#newsindex	.archives-wrap {
    margin: 0px 0;
}
#newsindex  a {
      text-indent: 0px;
	  font: 12px/38px 'Microsoft Yahei';
	  float:right;
	  margin-right:20px;
       }
	   
#newsindex .archive-article-title {
	float: left;
	    border-left: 0px solid #16171b;
    padding-left: 0px;}
#newsindexs .new_list_con {
    width: auto;
    
    margin-left: 0px; 
  
}

	



@media screen and (max-width:980px) {
.site-branding {
    float: left;
    margin-top: 120px;
}
.site-header {
		background-size:contain;
		
		}
	#header {
		height: auto;
	}
	
	#sidebar {
		
	}

}
#zhuye {border: 1px solid #ddd;height:800px;}
@media screen and (max-width:470px) {
	#zhuye {
		height:990px;
	}
	}
	@media screen and (max-width:480px) {
	#search-form-wrap {display:none
		
	}
		#sidebar {display:block
		
	}
	#form1 {display:none
		
	}
	.site-branding {
    
    margin-top: 0px;
}
#userstage {display:none
		
	}
	# jdjskg {display:none
		
	}
	}
	